* {
    margin: 0;
}

html {
    background-image: url(1.png);
    padding: 20px;
    background-repeat: no-repeat;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

body {
    width: 100%;
    max-width: 1100px;
}
#down{
    margin-bottom: -570px;
}
.body {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.body2 {
    display: flex;
    flex-direction: row;
}

input {
    width: 25px;
    height: 20px;
}

.sides {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 212px;
    height: 570px;
}
.sides2 {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 320px;
    height: 570px;
    padding: 5px;
    padding-top: 0;
    padding-bottom: 0;
}
em{
    color: #cfb083;
    font-size: 12px;
}
.menor{
    margin-bottom: 29px;
}
h2{
    top: 12px;
    margin-bottom: 45px;
    color: #cfb083;
    position: relative;
    font-family: arial;
    font-size: 15px;
    z-index: 1;
}
.sides input{
    position: relative;
    padding: 10px;
    padding-left: 90px;
    padding-top: 20px;
    background-color: rgba(60, 35, 25, 0.5);
    outline: 1px solid black;
    border-radius: 5px;
    border-color: black;
    color: #cfb083;
    font-size: 20px;
    font-family: Arial;
}

#botões {
    display: flex;
    flex-direction: row;
    height: 75px;
    align-items: center;
    justify-content:space-evenly;
}

button {
    width: 120px;
    height: 40px;
    cursor: pointer;
    border-color: black;
    border-radius: 5px;
    background-color: rgba(60, 35, 25, 0.5);
    color: #cfb083;
    font-size: 15px;
}
button :hover{
    background-color: #cfb083;
    color: black;
}
